<div class="logoutbtn" align="end">
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</div>

<div class="demo-button-container">
  <button
    mat-raised-button
    (click)="addData()"
    class="demo-button"
    [disabled]="role != 'admin'"
  >
    Add data
  </button>
</div>

<mat-form-field>
  <mat-label>Search</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Search By Title"
    #input
  />
</mat-form-field>

<table
  mat-table
  [dataSource]="filterSource"
  class="mat-elevation-z8 demo-table"
>
  <!-- Position Column -->
  {{
    dataSource
  }}
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <!-- update Column -->
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Update Notice</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button
        color="accent"
        (click)="updateData(element._id)"
        class="demo-button"
        >
        Update
      </button>
    </td>
  </ng-container>
  
  <!-- delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete Notice</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" (click)="removeData(element._id)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</table>
