.example-card {
  display: flex;
  justify-content: center;
  // text-align: center;
  max-width: 400px;
    // margin-left:500px ;

    // margin-top:500px ;
  }
  
.subTitle{

display: flex;
justify-content: flex-end;
}
  