// your-component.component.scss

.login {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  
    form {
      display: flex;
      flex-direction: column;
  
      mat-form-field {
        margin-bottom: 15px;
      }
    }
  
    button {
      width: 100%;
    }
  
    p {
      color: red;
      margin-top: 20px;
      background-color: antiquewhite;
      padding: 8px;
      padding-left: 70px;
    }
  }
  